<%= form_for([@word, @word.examples.build]) do |f| %>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <%= f.text_area :body, class:"form-control", rows: "2", placeholder: "Sentence"%>
      </div>
      <%= f.submit class: 'btn' %>
    </div>
  </form>
<% end %>
