/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   margin: 0;
   padding: 0;
   background: #f4f4f4;
   font-family: 'Open Sans', sans-serif;
 }
 a {
   text-decoration: none;
 }

 hr {
     margin-top: 0px;
     margin-bottom: 0px;
     border-top: 3px solid #eee;
   }


  #test {
 width: 330px;
 height: auto;
 display: none;
 background: #FFF;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
 -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
 -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
 }


 #header {
   width: 100%;
   height: 56px;
   border-bottom: 1px solid #c6c6c6;
   background: #fff;
 }

 #header-inner {
   margin: 0 auto;
   padding: 0 30px 0 30px;
 }

 #logo {
   color: #3e3a39;
 }
 #logo-icon {
   float: left;
   margin-top: 5px;
 }
 #logo-title {
   display: inline-block;
   margin-top: 10px;
   margin-left: 10px;
   font-size: 1.5em;
   font-family: 'Baloo Da', cursive;
 }

 #search {
   margin: 0 auto;
   display: inline-block;
 }
 #search-box {
   background: #f3f3f3;
   border-radius: 3px;
   border: none;
   height: 25px;
 }

 #create, #sidebar_icon {
   float: right;
   display: inline-block;
 }

 #wrapper {
     width:100%;
     margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
     text-align:left; /*resets text alignment from body tag */
     border:1px solid #ccc;
     border-top:none;
     padding:25px;
     /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
     border-radius:0 0 5px 5px;
     -moz-border-radius:0 0 5px 5px;
     -webkit-border-radius: 0 0 5px 5px;
     box-shadow:0 0 5px #ccc;
     -moz-box-shadow:0 0 5px #ccc;
     -webkit-box-shadow:0 0 5px #ccc;
 }

 #wrapper ul {
   list-style: none;
 }

.wrapper {
    width: 100%;
}

 .item_wrapper {
   display: inline-block;
   width: 200px;
   height: 200px;
   background: #f292a2;
   margin-left: 20px;
   margin-bottom: 40px;
   padding: 5px;
   text-align: center;
   border-radius: 2px;
   border: 30px solid #e9ecf3;
   box-shadow:0 0 5px #ccc;
   font-size: 2em;
   font-weight: bold;
   letter-spacing: .3em;
   color: #e9ecf3;
 }
 .item_wrapper_1 {
   display: inline-block;
   width: 200px;
   height: 200px;
   background: #fed300;

   margin-left: 20px;
   margin-bottom: 40px;
   padding: 5px;
   text-align: center;
   border-radius: 2px;
   border: 30px solid white;
   box-shadow:0 0 5px #ccc;
   font-size: 2em;
   font-weight: bold;
   letter-spacing: .3em;
 }

  .item_wrapper li a{
    color: #515164;
  }


 #lean_overlay {
     position: fixed;
     z-index:100;
     top: 0px;
     left: 0px;
     height:100%;
     width:100%;
     background: #000;
     display: none;
 }

 .popupContainer{
  width: 50%;
 	height:100%;
  margin: 50px auto;
  padding: 35px 65px;
  border-radius: 6px;
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  display: block;
 }

 .card-header {
   clear: both;
   margin: 0 auto;
   font-size: 2em;
 }
 .card-header span {
   margin-left: 10px;
   color: #6d6d6d;
 }
 .section_2, .section_3, .word-more {
   margin-top: 15px;
 }
 .main-content{
   float: left;
   margin-bottom: 30px;
   margin-top: 15px;
 }
 .section_1 {
   height: 320px;
   width: 320px;
   background: #afc800;
   border: 20px solid #eeeeee;
   text-align:center;
   font-size: 3em;
   color: #fff;
   letter-spacing: .3em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   line-height: 270px;
 }

  .section_1 span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  .section_1 hr {
    margin-bottom: 15px;
  }
.section_2,.section_3 {

}
 .side-content {
   float: left;
   overflow: hidden;
   margin-top: 15px;
 }

.word-info {
   padding-left: 40px;
   padding-top: 10px;
}
 .word-info ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 .scale_item {
   width: 45px;
   height: 10.5px;
   background: #e0e0e0;
   float: left;
   display: inline-block;
   margin-right: 6px;
 }
.scale_item_click {
  background: #afc800;
}

.card-buttons {
  margin-top: 23px;
}

.card-button {
  width: 97px;
  height: 28px;
  font-size: 1.2em;
  color: #c6c6c6;
  padding-top: 3px;
  padding-left: 40px;
  float: left;
  border-radius: 3px;
}
.button-like {
  background-image: url(button_like.png);
  margin-left: 50px;
}
.button-copy {
  background-image: url(button_copy.png);
  margin-left: 27px;
  margin-right: 27px;
}
 .item-label {
   color: #898989;
   margin-bottom: 15px;
 }
 .item {
   margin-bottom: 8px;
 }
 hr {
   margin-bottom: 30px;
 }

 .list_item {
   color: #c6c6c6;
   float: left;
 }
 .list_item a {
   text-decoration: none;
   margin-left: 5px;
 }


.wrapper-form {
  width: 20%;
  margin: 30px auto;
}






 @media screen and (max-width:480px){
  .popupContainer, .main-content, .word-more{
    width: 100%;
  }
  .section_2, .section_3 {
    display: none;
  }

  #logo-title, #search, #create, #sidebar_icon{
    display: none;
  }
 }

 @media screen and (min-width:481px) and (max-width:768px){
   .popupContainer, .main-content, .word-more{
     width: 80%;
   }
   .section_2, .section_3 {
     width: 80%;
   }
 }
